table {
    font-family: sans-serif;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}

th {
    font-weight: 600;
}

td, th, caption {
    border: 1px solid #000;


}

caption {
    border-bottom: none;
    font-weight: 700;
}

.red {
    color: rgb(192, 13, 13);
}

