html {
    font-family: "Ubuntu", "Oswald", sans-serif;
    font-weight: 400;
}

body {
    box-sizing: border-box;
}

.article {
    padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0px auto;
    padding: 0px 15px;

}

.article-tittle {
    max-width: 596px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.paragraph-one {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    padding-bottom: 20px;
}

.article-paragraph {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.gym-pic {
    max-width: 1220px;
    padding: 80px 0 80px;
}

.list-tittle {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    padding-bottom: 40px;

}

.list-text {
    max-width: 744px;
    padding-bottom: 8px;
}

.article-list {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    padding-left: 14px;
}

.sport-list {
    padding-top: 12px;
    padding-left: 0;
}

.video-section {
    padding: 80px 0 120px;
}

.video-section-tittle {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.gym-video {
    max-width: 1220px;
    height: auto;
    padding: 40px 0px 40px;
}