
html {
    font-family: sans-serif;
}


body * {
    box-sizing: border-box;
}

.header-container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;

}

.container {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-link {
    display: inline;
    color: #000000;
}

.ul {
    display: flex;
    justify-self: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.number-link {
    text-decoration: none;
}