.body {
    background: #222121;

}

.text {
    font-size: 50px;
    color: aliceblue;
    text-align: left;
}

.secrion-figure {
    width: auto;
    position: relative;
}

.block {
    display: flex;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 50%;
    max-height: 100%;
}


.block__square {
    background: #f2e0cf;
    min-height: 100px;
    width: 50%;
    border-radius: 10px;
    position: fixed;
    top: auto;
    right: 40px;
    bottom: 100px;
    left: auto;
    z-index: -1;
}

.block__circle {
    background: rgb(211, 67, 67);
    min-width: 100px;
    min-height: 100px;
    border-radius: 100%;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 50px;
    left: 90px;
}